// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 20px;

// Transition
$global-transition: all .3s;


// *****************
// Color Variables
// *****************
$brand-color: rgb(18, 184, 134);// #8565fc;;
$dark: rgb(52, 58, 64);// #1d1d1d;
$darkest: #202124;// #000;
$blue-dark: #16151f;
$gray: #abb2bf; // #9aa0a6; // #83807a;
$gray-light: #f8f8fc;
$gray-lighter:#e8eaed;// #eee;
$gray-lightest: #f1f1f1;
$white: #fff;

// Body Color
$text-color: $dark;

// Background Color
$background-color: $white;


// *****************
// Typography
// *****************
$base-font-size: 18px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: 400;
$base-font-family: 'Source Sans Pro', sans-serif;
$base-line-height: 1.7;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Source Sans Pro', sans-serif;
$heading-color: $text-color;

$font-size-h1:  36px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  18px;
$font-size-h6:  16px;

$heading-line-height: 1.4em;